<!DOCTYPE html>
<html>
    <head>
        <title>T-APP</title>
        <style>
            #header{
                text-align: center;
                position: absolute;
                left: 40%;
            }

            #main{    
                position: absolute;
                top: 20%;
                left: 40%;
            }
        </style>
    </head>
    <body>
        <div id='container'>
            <div id=header>
                <p>InstaPhoto Downloader</p>
            </div>
            <div id=main>
                <form>
                    <input name='url' type='text' required>
                    <input name='submit' type='submit'>
                </form>
            </div>
        </div>        
    </body>
</html>
