<!DOCTYPE html>
<html>
    <head>
        <title>T-APP</title>
        <style>
            #main{    
                position: absolute;
                top: 20%;
                left: 40%;
            }

            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div id='container'>
            <div id=main>
                <h1>Download Completed</h1>
                <p style='text-align: center;'><a href='/'>Try Again</a></p>
            </div>
        </div>        
    </body>
</html>
